@model List<Weblab2.Models.Student>

<h2>Students List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-right">Last Name</th>
            <th class="text-right">First Name</th>
            <th class="text-right">Birthdate</th>
            <th class="text-right">ID</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr class="text-right">
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Birthdate.ToShortDateString()</td>
                <td>@student.StudentId</td>
                <td><a asp-controller="Weblab2" asp-action="StudentDetails" asp-route-studentId="@student.StudentId">Details</a></td>
            </tr>
        }
    </tbody>
    @Html.ActionLink("Add student", "CreateStudent", "WebLab2", new { @class = "btn btn-default" })
</table>